<header>
    <nav>
        <div>
            <ul>
                <li><a href="/">Users</a></li>
                <li><a href="/admin/add-user">Add User</a></li>
            </ul>
        </div>
    </nav>
</header>